version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.6.1
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          key: v1-dependencies-{{ checksum "setup.py" }}
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip setuptools
            pip install -e .[develop]
      - save_cache:
          key: v1-dependencies-{{ checksum "setup.py" }}
          paths:
            - ./venv
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            pytest --cov mortgage
            bash <(curl -s https://codecov.io/bash)
      - store_artifacts:
          path: test-reports
          destination: test-reports
  deploy:
    docker:
      - image: circleci/python:3.6.1
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          key: v1-dependencies-{{ checksum "setup.py" }}
      - run:
          name: Init .pypirc
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = austinmcconnell" >> ~/.pypirc
            echo -e "password = $PYPI_PASSWORD" >> ~/.pypirc
      - run:
          name: Create Packages
          command: |
            python setup.py sdist bdist_wheel
      - run:
          name: Upload to pypi
          command: |
            . venv/bin/activate
            twine upload dist/*
workflows:
  version: 2
  test:
    jobs:
      - test:
          filters:
            tags:
              ignore: /.*/
            branches:
              ignore: master
  test_and_deploy:
    jobs:
      - test:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+.\d+.\d+$/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v\d+.\d+.\d+$/
            branches:
              ignore: /.*/
